.header {
    max-width: 100%;
    height: 5vh;
    padding: 10px 10px;
}

.header__navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

.header__navigation img {
    width: 3vw;
    height: 3vw;
}

.header__navigation svg {
    width: 2vw;
    height: 2vw;
}

.header__navigation__itemsLinks {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 10vw;
    font-size: 1.25rem;
}

.header__navigation__itemsLinks span {
    margin: auto;
}